<div class="about">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Sit amet cursus sit amet dictum sit amet. Quisque id diam vel quam elementum.
    Morbi leo urna molestie at elementum eu facilisis sed. Elementum tempus egestas sed sed.
    Viverra mauris in aliquam sem. Vel eros donec ac odio. Euismod quis viverra nibh cras pulvinar.
    Fusce ut placerat orci nulla pellentesque. Arcu non odio euismod lacinia at.
    Sit amet consectetur adipiscing elit pellentesque habitant morbi tristique.
    Pellentesque elit ullamcorper dignissim cras tincidunt. Sed tempus urna et pharetra pharetra massa massa.
    Turpis massa sed elementum tempus egestas sed sed. Est placerat in egestas erat imperdiet sed euismod nisi.
  </p>
</div>
