<nav class="navigation" role="navigation">
  <% Administrate::Namespace.new(namespace).resources.reject { |res| res.name == :order_products }.each do |resource| %>
    <%= link_to(
      display_resource_name(resource),
      [namespace, resource.path],
      class: "navigation__link navigation__link--#{nav_link_state(resource)}"
    ) %>
  <% end %>
</nav>
