/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require normalize-rails
*= require_self
*= require_tree .
*/

@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css";

$blue: #53adc6;
$red: #cf726e;
$green: #5bc89e;
$white: #f0f0f0;

html {
    height: 100%;
}

body {
  font: 20px 'Muli', sans-serif;
  line-height: 2rem;
  height: 100%;
  background-color: rgb(40, 44, 52);
  color: $white;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  padding: 0 2rem;
}

img {
  max-width: 100%;
}

h1, h2, h3 {
  font-family: 'Muli';
  font-weight: bold;
  color: $white;
  margin-top: 1rem;
}

a {
  color: $blue;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}
