/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require normalize-rails
*= require_self
*= require_tree .
*/

html {
    height: 100%;
    background-color: #fff;

    body {
      font: 20px 'Muli', sans-serif;
      line-height: 2rem;
      min-height: 100vh;
      background-color: rgb(33, 37, 43);
      color: #fff;
      background-repeat: no-repeat;
      background-attachment: fixed;
      z-index: 0;

      // &:before, &:after {
      //   content: " ";
      //   position: absolute;
      //   display: block;
      // }
      //
      // &:before {
      //   width: 200px;
      //   height: 800px;
      //   transform: rotate(25deg);
      //   bottom: -200px;
      //   right: -100px;
      //   z-index: -1;
      //   background-color: rgb(40, 44, 52);
      // }
      //
      // &:after {
      //   width: 200px;
      //   height: 1000px;
      //   transform: rotate(50deg);
      //   bottom: -280px;
      //   right: -50px;
      //   z-index: -2;
      //   background-color: lighten(rgb(40, 44, 52), 2%);
      // }

      main {
        padding: 0 77.5px;
        min-height: 62vh;
      }

      img {
        border-radius: 5px;
      }

      h1, h2, h3 {
        font-family: 'Muli';
        font-weight: bold;
      }

      a {
        color: rgb(83, 173, 198);
        text-decoration: none;
      }

      ul {
        list-style: none;
        padding: 0;
      }
    }
}
