/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require normalize-rails
*= require_self
*= require_tree .
*/

@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css";

html {
    height: 100%;

    body {
      font: 20px 'Muli', sans-serif;
      line-height: 2rem;
      min-height: 100vh;
      background-color: rgb(33, 37, 43);
      color: #f0f0f0;
      background-repeat: no-repeat;
      background-attachment: fixed;
      z-index: 0;

      &:before, &:after {
        content: " ";
        position: absolute;
        display: block;
      }

      &:before {
        width: 200px;
        height: 800px;
        transform: rotate(25deg);
        top: -200px;
        left: -100px;
        z-index: -1;
        background-color: rgb(40, 44, 52);
      }

      &:after {
        width: 200px;
        height: 1000px;
        transform: rotate(50deg);
        top: -280px;
        left: -50px;
        z-index: -2;
        background-color: lighten(rgb(40, 44, 52), 2%);
      }

      main {
        padding: 0 2rem;
        margin: 40px;
      }

      img {
        border-radius: 5px;
      }

      h1, h2, h3 {
        font-family: 'Muli';
        font-weight: bold;
      }

      a {
        color: #53adc6;
        text-decoration: none;
      }

      ul {
        list-style: none;
        padding: 0;
      }
    }
}
