.flash {
  text-align: center;
  font-weight: bold;
  background-color: #53adc6;
  line-height: 3em;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 35%;
  border-radius: 0 0 20px 20px;

  animation: poof 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier();
}

.alert-error {
  background-color: #c65353;
}

@keyframes poof {
  from {
    transform: translateY(-100%) translateX(-50%);
  }

  10%, 75% {
    transform: translateY(0) translateX(-50%);
  }

  to {
    transform: translateY(-100%) translateX(-50%);
  }
}

@media only screen and (max-width: 960px) {
  .flash {
    padding: 15px 20px;
    line-height: normal;
    left: 9%;
    width: 45%;
    font-size: 0.9rem;
  }

  @keyframes poof {
    from {
      transform: translateY(-100%);
    }

    10%, 75% {
      transform: translateY(0);
    }

    to {
      transform: translateY(-100%);
    }
  }
}
