.flash {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  background-color: #53adc6;
  line-height: 3em;
  position: absolute;
  top: 0;
  width: 100%;
  pointer-events: none;

  animation: poof 1.6s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier();
}

.alert-error {
  background-color: #c65353;
  animation-duration: 2s;
}

@keyframes poof {
  from {
    transform: translateY(-100%)
  }

  10%, 75% {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}
