footer {
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.6);
  margin: 120px 72px 0px 72px;
  border-top: 2px solid rgb(45, 49, 57);
  padding: 18px 0;

  .first-footer-container{
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 0;
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: space-between;

    .social {
      font-size: 1.5rem;

      .fa-instagram, .fa-facebook-square {
        background-color: #fff;
        border-radius: 36px;
        padding: 12px;
        margin: 5px;
      }

      .fa-facebook-square {
        color: rgb(72, 104, 173);
      }

      .fa-instagram {
        color: rgb(213, 60, 138);
      }
    }

    p {
      margin: 0;
    }
  }
}
