.header-container {
  margin: 0 auto;
  padding: 0 2rem;
  margin: 0 40px;

  .header-list {
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: space-between;
  }

  a {
    text-decoration: none;
  }

  .header-logo {
    font: 2.5rem 'Pacifico';
    flex: 1;
  }

  .search {
    padding: 2rem;

    input {
      width: 0;
      background-color: transparent;
      border: none;
      position: relative;
      bottom: 5px;
      outline: 0;
      color: #f0f0f0;
      border-bottom: .1rem solid #53adc6;
      transition: all 0.5s ease;
      padding: 1px 0;
    }

    input:focus {
      width: 200px;
      padding: 1px;
    }
  }

  .fa {
    font-size: 2rem;
    color: #53adc6;
  }

  .number-of-items {
    padding: 0.25rem;
    font-size: 0.95rem;
    text-decoration: underline;
  }
}
