header {
  float: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 100px;
  // background-color: #fff;
  border-bottom: 1px solid rgb(210, 224, 255);
  animation: colorchange 50s;
  -webkit-animation: colorchange 50s; /* Chrome and Safari */

  a {
    text-decoration: none;
  }

  nav {
    width: 400px;

    button {
      width: 100%;
    }
  }

  .header-logo {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
  }

  ul {
    list-style: none;
    display: flex;
    padding: 0;
  }

  li {
    flex: 1;
  }
}

 @keyframes colorchange {

   0%   {background: #ddf1ff;}
   25%  {background: #efddff;}
   50%  {background: #eafbe5;}
   75%  {background: #feffcb;}
   100% {background: #dddff;}
 }

 @-webkit-keyframes colorchange {
   0%   {background: #ddf1ff;}
   25%  {background: #efddff;}
   50%  {background: #eafbe5;}
   75%  {background: #feffcb;}
   100% {background: #dddff;}
 }
