$box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173,186,204,.25), 0 2px 6px rgba(0, 21, 64, 0.6), 0 10px 20px rgba(0,21,64,.05);

header {
  margin-bottom: 120px;
  position: relative;

  .header-container {
    background-color: #fff;
    border-radius: 0 0 20px 20px;
    display: flex;
    align-items: center;
    padding: 10px 0px 5px 77.5px;
    box-shadow: $box-shadow;
    z-index: 1;
    position: relative;

    h1 {
      flex-grow: 3;
    }

    nav {
      flex-grow: 1;
    }

    .header-logo {
      font: 2.5rem 'Pacifico';
      margin: 0;
      position: relative;
      bottom: 5px;
    }

    nav ul {
      display: flex;
      margin: 0;

      li {
        flex: 1;

        &:last-child a {
          padding-right: 0;
        }
      }

      a {
        display: block;
        text-align: center;
        padding: 15px 0;
        font-weight: bold;

        .number-of-items {
          padding: 0.25rem;
        }
      }
    }
  }

  .search-bar {
    background-color: #fff;
    position: absolute;
    display: inline-block;
    top: 100%;
    right: 50px;
    border-radius: 0 0 40px 40px;
    padding: 10px 20px;
    z-index: 0;
    box-shadow: $box-shadow;

    input {
      width: 0;
      background-color: transparent;
      border: none;
      position: relative;
      bottom: 5px;
      outline: 0;
      color: black;
      border-bottom: .1rem solid #53adc6;
      transition: all 0.5s ease;
      padding: 1px 0;
    }

    input:focus {
      width: 200px;
      padding: 1px;
    }
  }

  .fa {
    font-size: 1.5rem;
    color: #53adc6;
  }
}

@media only screen and (max-width: 500px) {
  header {
    margin-bottom: 80px;
    .header-container {
      display: block;
      padding: 0;

      .header-logo {
        display: block;
        text-align: center;
        font: 1.8rem 'Pacifico';
        bottom: 0;
        padding: 5px 0;
      }

      nav ul {
        padding: 5px 0;
        a {
          padding: 0;
          font-size: 1.2rem;
        }
      }
    }

    .search-bar {
      padding: 7.5px 10px;
      border-radius: 0 0 20px 20px;
      right: 9%;

      .fa {
        font-size: 1.2rem;
      }
    }
  }
}

@media only screen and (min-width: 501px) and (max-width: 960px) {
  header {
    margin-bottom: 80px;
    .header-container {
      display: block;
      padding: 0;

      .header-logo {
        display: block;
        text-align: center;
        font: 2rem 'Pacifico';
        bottom: 0;
        padding: 5px 0;
      }

      nav ul {
        padding: 5px 0;
        a {
          padding: 0;
          font-size: 1.2rem;
        }
      }
    }

    .search-bar {
      padding: 7.5px 10px;
      border-radius: 0 0 20px 20px;
      right: 15%;

      .fa {
        font-size: 1.2rem;
      }
    }
  }
}
