.order {
  display: flex;
  text-align: justify;
  align-items: flex-start;

  .order-items {
    display: inline-block;
    flex: 2;
    margin-right: 200px;

    table {
      width: 100%;
    }

    th, td {
      padding: 15px;
    }

    .remove-icon {
      padding: 10px;

      :hover {
        animation: dance 0.5s;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier();
      }
    }

    @keyframes dance {
      25%, 75% {
        transform: rotate(15deg);
      }

      50%, 100% {
        transform: rotate(-15deg);
      }
    }
  }

  .order-summary {
    flex: 1;
  }
}
