.order-summary {
  text-align: justify;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  color: black;
  flex-basis: 350px;

  h3 {
    border-bottom: 2px solid rgb(230, 230, 230);
    margin-top: 0;
  }

  .order-total {
    float: right;
  }

  #error_explanation {
    color: #c65353;
  }
}

@media only screen and (max-width: 960px) {
  .order-summary {
    margin: 0 auto;
  }
}
