.order-items {
  display: inline-block;
  flex: 1;

  th, td {
    padding: 15px;
  }

  .quantity {
    text-align: center;
  }

  .item-total {
    text-align: right;
  }

  .remove-icon {
    padding: 10px;
  }
}
