.order-summary {
  float: right;
  width: 30%;
  text-align: justify;

  h3 {
    border-bottom: 1px solid #f0f0f0;
  }

  .order-total {
    float: right;
  }

  .stripe-checkout {
    float: right;
  }

  .stripe-button-el {
    transform: scale(1.2);
    transform-origin: right;
  }
}
