.order-items {
  display: inline-block;
  flex: 1;

  th, td {
    padding: 15px;
  }

  .quantity {
    text-align: center;
  }

  .item-total {
    text-align: right;
  }

  .quantity select {
    min-width: 60px;
  }

  .remove-icon {
    padding: 10px;

    :hover {
      animation: dance 0.5s;
      animation-iteration-count: infinite;
      animation-timing-function: cubic-bezier();
    }
  }

  @keyframes dance {
    25%, 75% {
      transform: rotate(15deg);
    }

    50%, 100% {
      transform: rotate(-15deg);
    }
  }
}
