.order-summary {
  flex: 1;
  text-align: justify;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  color: black;

  h3 {
    border-bottom: 2px solid rgb(230, 230, 230);
    margin-top: 0;
  }

  .order-total {
    float: right;
  }

  #error_explanation {
    color: #c65353;
  }
}
