$box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173,186,204,.25), 0 2px 6px rgba(0,21,64,.14), 0 10px 20px rgba(0,21,64,.05);

.product-images {
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin-left: 1em;
  align-items: flex-start;
  border: 5px solid #fff;
  border-radius: 20px;
  background-color: #fff;
  padding: 20px 0px 15px 10px;

  .product-images-full {
    margin-right: 10px;
    display: block;

    img {
      background-position: center center;
      background-size: cover;
      max-width: 500px;
      height: 500px;
      border-radius: 20px;
      box-shadow: $box-shadow;
    }
  }

  .product-image-thumbnails {
    top: 50px;

    img {
      background-position: center center;
      background-size: cover;
      max-width: 50px;
      height: 50px;
      cursor: pointer;
      box-shadow: $box-shadow;
      transition: transform 200ms;
      display: block;
      margin-bottom: 15px;
    }

    img:hover {
      transform: scale(1.15);
    }

  }
}
