.products-show {
  display: flex;
  align-items: flex-start;

  .product-images, .product-info {
    flex: 1;
  }
}

@media only screen and (max-width: 960px) {
  .products-show {
    display: block;
  }
}
