.product-info {
  align-items: center;
  position: sticky;
  top: 50px;

  h2 {
    margin: 0;
  }

  .description, .price, .dimensions, .weight {
    display: block;
  }

  .description {
    line-height: 2.5;
    font-size: 0.9rem;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
  }

  .price {
    color: #fff;
  }

  .select-container {
    display: block;
    position: relative;
    overflow: hidden;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .button {
    width: 50%;
  }
}
