.products-index {
  .products-index-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    list-style: none;
    justify-content: space-evenly;
    padding-bottom: 100px;

    .product {
      position: relative;
      display: block;
      padding: 1em;
      color: black;
      border-radius: 5px;
      background-color: #f0f0f0;

      img {
        width: 200px;
        height: auto;
      }

      .product-name {
        margin-top: 0;
        margin-bottom: 1.5rem;
        line-height: 1.2;
      }

      .product-price {
        position: absolute;
        bottom: 20px;
        margin: 0;
        right: 20px;
        line-height: 1;
        font-size: 1rem;
      }
    }
  }
}
