.search {
  padding: 2rem;

  input {
    width: 0;
    background-color: transparent;
    border: none;
    position: relative;
    bottom: 5px;
    outline: 0;
    color: #fff;
    border-bottom: .1rem solid #53adc6;
    transition: all 0.5s ease;
    padding: 1px 0;
  }

  input:focus {
    width: 200px;
    padding: 1px;
  }
}
