<ul class="products-index">
  <% @products.each do |product| %>
    <div class="product">
      <li>
        <div class="square-image"
          style="background-image: url(<%= product.images[0].url %>)">
        </div>
      </li>
      <li><%= link_to product.name, product %></li>
      <li><%= format_price product.price %></li>
    </div>
  <% end %>
</ul>
