<div class="products-index">
  <ul class="products-index-grid">
    <% @products.each do |product| %>
      <li class="product">
        <%= link_to product do %>
          <%= image_tag product.images[0].url %>
          <p class="product-name"><%= product.name %></p>
          <p class="product-price"><%= format_price product.price %></p>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
