<div class="container products-index">
  <ul class="products-index-grid">
    <% @products.each do |product| %>
      <li class="product">
        <%= image_tag product.images[0].url %>
        <p class="product-name"><%= link_to product.name, product %></p>
        <p class="product-price"><%= format_price product.price %></p>
      </li>
    <% end %>
  </ul>
</div>
