<footer>
  <ul class="first-footer-container">
    <li>
      <p class="legal">&copy; 2018 Mona International, LLC</p>
      <p class="love">This website is made with lots of <i class="fa fa-coffee"></i> & <i class="fa fa-heart"></i> by <a href="https://dilaraaydin.com" target="_blank">Dilara Aydin</a>.</p>
    </li>
    <li class="social">
      <a href="https://www.instagram.com/seven.elephants/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-facebook-square"></i></a>
    </li>
  </ul>
</footer>
