<header>
  <h3>search</h3>
  <%= link_to "Nazzar Bazaar", '#', class: "header-logo" %>
  <nav>
    <ul>
      <li><%= link_to "My Favorites",   '#' %></li>
      <li><%= link_to "My Cart",   '#' %></li>
    </ul>
  </nav>
</header>
